.dialog-content {
    h2 {
        font-weight: 500;
        font-family: 'Fira Sans';
        color: #0F2C59;
    }

    background-color: #F8F0E5 !important;

    // Add custom styles for your projects descriptions here

    .paragraph {
        color: #0F2C59;
        margin: 20px 0px;

        a {
            text-decoration: none;
        }
    }

    .center {
        text-align: center;
    }

    iframe.youtube {
        min-height: 300px;
        width: 100%;
    }

    .phone-screenshot {
        width: 100%;
    }

    .pc-screenshot {
        width: 100%;
    }

    .notice {
        background-color: #b7cadb75;
        border:1px solid #96aec5;
        color: #435a6f;
        padding: 10px;

        a {
            font-weight: bold;
            text-decoration: none;
        }
    }

    a {
        color:#696969;
        opacity: 1;
        text-decoration: underline;
    }
    
    a:hover {
        opacity: 0.6;
    }

    @media only screen and (min-width: 620px){
        iframe.youtube {
            max-width: 728px;
            height: 409px;
        }

        .phone-screenshot {
            height: 200px;
            object-fit: cover;
            width : 350px;
        }
    
        .pc-screenshot {
            width : 300px;
            height: 600px;
            object-fit: cover;
        }
    }
}