/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #FDF6EC; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #DAB88B;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #DAB88B; 
  }